.businesse{
    min-height: 691px;
    padding: 73px 0 73px 0;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        &__descr{
            margin-right: 50px;
        }
        &__button{
            :first-child{
                margin-right: 7px;
            }
            &__adaptive{
                display: none;
                :first-child{
                    margin-right: 7px;
                }
            }
        }
    }
    &__descr{
        width: 303px;
        margin-top: 47px;
        margin-bottom: 37px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        color: #5C5C5C;
    }
    &__descr-adaptive{
        display: none;
    }
}